## Import required libraries and Load Data

In [5]:
# Property Insight Analysis

## Import Libraries

import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Load Land Registry Price Paid Data
price_paid_data = pd.read_csv('/Users/rachanabaldania/Code/assignment_RB/data/pp-complete.csv',sep=',', 
                  names=["1", "2", "3", "4","5","6","7","8","9","10","11","12","13","14","15","16"])


# Load Postcode Lookup (NSPL)
nspl_data = pd.read_csv('/Users/rachanabaldania/Code/assignment_RB/data/NSPL21_MAY_2024_UK.csv')
# Load British National Grid Shapefiles
bng_shapefiles = gpd.read_file('/Users/rachanabaldania/Code/assignment_RB/data/OSGB_Grid_10km.shp')

In [ ]:
df =price_paid_data
df.head(10)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,{109BBF80-1E51-4910-8E2C-B124E1117A7A},34950,1995-06-09 00:00,BA3 3AH,F,N,L,COOMBEND HOUSE,7,COOMBEND,RADSTOCK,RADSTOCK,WANSDYKE,AVON,A,A
1,{D5233D67-2975-426B-B98D-B124E39331D9},133000,1995-06-19 00:00,SW18 5AG,T,N,F,142,NaN,ASTONVILLE STREET,LONDON,LONDON,WANDSWORTH,GREATER LONDON,A,A
2,{718BD35C-25E1-431C-8AF7-B124E63ED4E1},83000,1995-08-21 00:00,IP11 7PU,D,N,F,3,NaN,GARFIELD ROAD,FELIXSTOWE,FELIXSTOWE,SUFFOLK COASTAL,SUFFOLK,A,A
3,{E127F626-6247-4D95-A392-B124F4C0A558},59000,1995-07-27 00:00,PE21 0SF,D,Y,F,BEAUCADRE,NaN,GAYSFIELD ROAD,FISHTOFT,BOSTON,BOSTON,LINCOLNSHIRE,A,A
4,{B10762A0-2C9C-4C82-A885-B1250B55FFF9},51000,1995-02-28 00:00,ME7 4DF,T,N,F,41,NaN,FRANKLIN ROAD,GILLINGHAM,GILLINGHAM,GILLINGHAM,KENT,A,A
5,{BBAB55E8-216F-4FFA-B9EC-B4AD71F833EB},37000,1995-06-02 00:00,TN1 2ET,F,N,L,48,TOP FLOOR FLAT,UPPER GROSVENOR ROAD,TUNBRIDGE WELLS,TUNBRIDGE WELLS,TUNBRIDGE WELLS,KENT,A,A
6,{FD34F0B9-8697-481D-A231-B4AD7716F2F5},55000,1995-05-12 00:00,ST19 5AP,D,N,F,GAS HOUSE,NaN,PINFOLD LANE,PENKRIDGE,STAFFORD,SOUTH STAFFORDSHIRE,STAFFORDSHIRE,A,A
7,{657B1EA4-A147-4E1B-B70F-B4AD98A15237},47750,1995-12-12 00:00,LL18 5SZ,S,Y,F,18,NaN,FFORDD TERFYN,BODELWYDDAN,RHYL,RHUDDLAN,CLWYD,A,A
8,{FF6684D0-67EF-4FE1-AC8F-B4AD99ACE2CD},53000,1995-05-25 00:00,BS30 5XW,S,N,F,4,NaN,GRASMERE GARDENS,BRISTOL,BRISTOL,KINGSWOOD,AVON,A,A
9,{4EED77AD-7F8A-42F2-91C4-AA05EA71F74F},60000,1995-07-14 00:00,TR12 7PH,D,N,F,THE BOAT HOUSE,NaN,NaN,CHURCH COVE,HELSTON,KERRIER,CORNWALL,A,A

## Analysis

### 1. Find Two Likely Errors in Land Registry Data

In [ ]:
# Identify potential errors 2=price
# Example: Outliers in sale price or missing values
errors = df[(df['2'] < 0) | (df['2'] > 1e7)]  # Extreme values
print(errors.head(2))  # Display first two potential errors
#Explanation:Sale prices that are negative or excessively high might be erroneous.

                                              1         2                 3  \
3568721  {2A289EA1-51F7-CDC8-E050-A8C063054829}  12900000  1998-03-31 00:00
3574617  {2A289EA1-A764-CDC8-E050-A8C063054829}  13400000  1998-08-11 00:00

                4  5  6  7                         8    9            10   11  \
3568721  SW1P 2BQ  D  N  F           ASHLEY HOUSE, 2  NaN  MONCK STREET  NaN
3574617  WC2B 4LL  F  N  F  MELBOURNE HOUSE, 44 - 46  NaN       ALDWYCH  NaN

             12                   13              14 15 16
3568721  LONDON  CITY OF WESTMINSTER  GREATER LONDON  A  A
3574617  LONDON  CITY OF WESTMINSTER  GREATER LONDON  A  A

### 2. Calculate Sales and Average Price for London Boroughs in 2023

In [ ]:
nspl_data.head(5)

NameError: name 'nspl_data' is not defined

In [ ]:
# Filter data for 2023 3= date of transfer,4=postcode
df['3'] = pd.to_datetime(df['3'])
df_2023 = df[df['3'].dt.year == 2023]

# Merge datasets on postcode
df_merged = df_2023.merge(nspl_data, left_on='4', right_on='pcds')

In [ ]:
df_merged.head(5)

,1,2,3,4,5,6,7,8,9,10,...,bua22,ru11ind,oac11,lat,long,lep1,lep2,pfa,imd,icb
0,{FFA361DA-C01A-8A03-E053-4804A8C01F61},270000,2023-06-01,SS2 4AX,S,N,F,6,NaN,WEYBOURNE CLOSE,...,E63004820,C1,8D2,51.552966,0.724026,E37000056,NaN,E23000028,13126,E54000026
1,{FFA361DA-C01B-8A03-E053-4804A8C01F61},372500,2023-05-03,CM15 9DJ,S,N,F,138,NaN,ONGAR ROAD,...,E63004713,C1,5A2,51.624583,0.301485,E37000056,NaN,E23000028,24441,E54000026
2,{FFA361DA-C01D-8A03-E053-4804A8C01F61},460000,2023-05-19,CM3 5JZ,D,N,F,21,NaN,RODING LEIGH,...,E63004660,C1,5A1,51.645310,0.615027,E37000056,NaN,E23000028,23175,E54000026
3,{FFA361DA-C01E-8A03-E053-4804A8C01F61},315000,2023-01-20,SS9 4BA,S,N,F,8,NaN,TIPTREE CLOSE,...,E63004820,C1,8C1,51.560038,0.663214,E37000056,NaN,E23000028,10889,E54000026
4,{FFA361DA-C01F-8A03-E053-4804A8C01F61},970000,2023-05-26,RM2 6NH,D,N,F,67,NaN,LINKS AVENUE,...,E63004796,A1,6A1,51.592223,0.206259,E37000051,NaN,E23000001,20266,E54000029

In [ ]:
# Calculate number of sales and average price by London Borough 11-london_borough
borough_summary = df_merged.groupby('11').agg({
    'price': ['count', 'mean']
}).reset_index()

borough_summary.columns = ['London Borough', 'Number of Sales', 'Average Sale Price']
print(borough_summary)
# Compare results to historical data to identify anomalies. This provides insights into the number of transactions and average sale prices by borough.

NameError: name 'df_merged' is not defined

### 3. Count New Build Flats Sold in Each UK Region Since 2020

In [ ]:
# Filter for new build flats property_type-7,new_build-6,date_of_transfer-3,region-14
df_new_build_flats = df[(df['7'] == 'F') & (df['6'] == 'Y')]
df_new_build_flats_2020 = df_new_build_flats[df_new_build_flats['3'].dt.year >= 2020]

# Count sales by region
region_sales = df_new_build_flats_2020.groupby('14').size()
print(region_sales)
#Analyzes new build flats sold in each region to identify trends. or New builds and flats might have different market dynamics compared to existing properties.

### 4. Plot Number of Sales Per Week Since 2020

In [ ]:
# Filter data since 2020
df_since_2020 = df[df['date_of_transfer'].dt.year >= 2020]

# Set the date as index
df_since_2020.set_index('date_of_transfer', inplace=True)

# Resample data to weekly frequency
weekly_sales = df_since_2020.resample('W').size()

# Plot the number of sales per week
weekly_sales.plot(figsize=(12, 6))
plt.title('Number of Sales Per Week Since 2020')
plt.xlabel('Week')
plt.ylabel('Number of Sales')
plt.show()

#Trends may reflect seasonality or market events

### 5. Plot a Histogram of Sale Prices

In [ ]:
# Plot histogram of sale prices
plt.figure(figsize=(12, 6))
plt.hist(df['price'], bins=50, edgecolor='k')
plt.title('Histogram of Sale Prices')
plt.xlabel('Price')
plt.ylabel('Frequency')
plt.show()

# Discuss distribution

#Typical distributions include normal, log-normal, or skewed.

### 6. Map Showing Number of Sales Per 10km Grid Square

In [ ]:
import geopandas as gpd

# Load grid shapefiles
grid_file = os.path.join(data_dir, 'bng', 'OSGB_Grid_10km.shp')
grid = gpd.read_file(grid_file)

# Join with sales data
sales_gdf = gpd.GeoDataFrame(df_merged, geometry=gpd.points_from_xy(df_merged['longitude'], df_merged['latitude']))

# Spatial join
sales_per_grid = gpd.sjoin(sales_gdf, grid, how='inner', op='within')

# Count sales per grid
sales_count_per_grid = sales_per_grid.groupby('index_right').size()

# Merge with grid
grid['sales_count'] = grid.index.map(sales_count_per_grid.to_dict())
grid.plot(column='sales_count', cmap='OrRd', legend=True, figsize=(10, 10))
plt.title('Number of Sales Per 10km Grid Square')
plt.show()
#Highlight areas with high or low activity.

### 7. Map Showing Average Sale Price Per 10km Grid Square

In [ ]:
# Compute average sale price per grid square
avg_price_per_grid = sales_per_grid.groupby('index_right')['price'].mean()

# Merge with grid
grid['avg_price'] = grid.index.map(avg_price_per_grid.to_dict())
grid.plot(column='avg_price', cmap='OrRd', legend=True, figsize=(10, 10))
plt.title('Average Sale Price Per 10km Grid Square')
plt.show()

# Analyze spatial variations in average prices.

### 8. Comment on Findings

In [ ]:
Steps:

Provide insights based on previous analyses.
Example Comments:

Discuss spatial distribution of sales and prices.
Mention any trends or anomalies.

Steps:

Provide insights based on previous analyses.
Example Comments:

Discuss spatial distribution of sales and prices.
Mention any trends or anomalies.

SyntaxError: invalid syntax (1582697971.py, line 1)

### 9. Discuss the Model

In [ ]:
Steps:

Evaluate the proposed model based on your analyses.
Example Discussion:

Expected R value: Provide a range based on data and context.
Model Improvement: Suggest adding interaction terms, using more predictors, or employing regularization techniques.
Acceptable R range: Discuss what would be considered a good fit in your context.

Steps:

Evaluate the proposed model based on your analyses.
Example Discussion:

Expected R value: Provide a range based on data and context.
Model Improvement: Suggest adding interaction terms, using more predictors, or employing regularization techniques.
Acceptable R range: Discuss what would be considered a good fit in your context.

### 10. Energy Performance Certificates (EPCs)

In [ ]:
Steps:

Identify useful fields from EPCs for price prediction.
Outline the approach for joining EPCs with Land Registry data.
Example Approach:

Useful Fields: Energy efficiency rating, property age, type, etc.
Joining Approach: Match EPC data with Land Registry data on property ID or address, ensuring consistent formats

Steps:

Identify useful fields from EPCs for price prediction.
Outline the approach for joining EPCs with Land Registry data.
Example Approach:

Useful Fields: Energy efficiency rating, property age, type, etc.
Joining Approach: Match EPC data with Land Registry data on property ID or address, ensuring consistent formats